<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table ng-controller="TableCtrl" class="table table-striped" at-table at-list="list">
        <thead></thead>
        <tbody>
          <tr>
            <td at-implicit at-sortable at-attribute="name" at-title="Plan Name" at-initial-sorting="asc"></td>
            <td at-implicit at-attribute="id" at-title="Plan ID"></td>
            <td at-implicit at-attribute="amount" at-title="Subscription Cost"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>